<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="a8a27638-2b56-4682-9ccf-a43879af7a01" Version="1.0.0.0" Publisher="CN=nick" />
  <Properties>
    <DisplayName>WorldSurveyKitMetro</DisplayName>
    <PublisherDisplayName>nick</PublisherDisplayName>
    <Logo>images\icons\xhdpi.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <m2:VisualElements DisplayName="WorldSurveyKitMetro" Description="WorldSurveyKitMetro" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\icons\splash512.png" Square30x30Logo="images\icons\hdpi.png">
        <m2:DefaultTile Square70x70Logo="images\icons\hdpi.png" Square310x310Logo="images\icons\splash512.png" Wide310x150Logo="images\icons\store310X150.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\icons\store620X300.png" />
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://worldsurveykit.com/*" Type="include" />
        <Rule Match="https://facebook.com/*" Type="include" />
        <Rule Match="https://youtube.com/*" Type="include" />
        <Rule Match="https://www.facebook.com/*" Type="include" />
        <Rule Match="https://bitbucket.org/*" Type="include" />
        <Rule Match="https://connect.facebook.net/*" Type="include" />
        <Rule Match="https://connect.facebook.net/en_US/all.js" Type="include" />
        <Rule Match="https://translate.google.com/translate_a/element.js" Type="include" />
        <Rule Match="https://google.com/*" Type="include" />
        <Rule Match="https://wskauth.azure-mobile.net/*" Type="include" />
        <Rule Match="https://m.facebook.com/*" Type="include" />
        <Rule Match="https://graph.facebook.com/*" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>