<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="45540NickTheile.WorldSurveyKit" Version="1.1.0.19" Publisher="CN=79902CF8-1BB0-4FB7-AC85-CC380B2CEFF3" />
  <Properties>
    <DisplayName>World Survey Kit</DisplayName>
    <PublisherDisplayName>Nick Theile</PublisherDisplayName>
    <Logo>images\icons\store50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <m2:VisualElements DisplayName="World Survey Kit" Description="WorldSurveyKitMetro" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\icons\store150x150.png" Square30x30Logo="images\icons\store30x30.png">
        <m2:DefaultTile ShortName="World Survey Kit">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\icons\store620X300.png" />
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://worldsurveykit.com/*" Type="include" />
        <Rule Match="https://facebook.com/*" Type="include" />
        <Rule Match="https://youtube.com/*" Type="include" />
        <Rule Match="https://www.facebook.com/*" Type="include" />
        <Rule Match="https://bitbucket.org/*" Type="include" />
        <Rule Match="https://connect.facebook.net/*" Type="include" />
        <Rule Match="https://connect.facebook.net/en_US/all.js" Type="include" />
        <Rule Match="https://translate.google.com/translate_a/element.js" Type="include" />
        <Rule Match="https://google.com/*" Type="include" />
        <Rule Match="https://wskauth.azure-mobile.net/*" Type="include" />
        <Rule Match="https://m.facebook.com/*" Type="include" />
        <Rule Match="https://graph.facebook.com/*" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>